*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 84%;
  height: 100%;
  margin: 0 auto;
}
.app-flex{
  display: grid;
  grid-template-columns: 200px 500px 200px;
  gap: 2rem;
  align-items: center;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px;
}
img{
  width: 200px;
  height: 200px;
}
.btn{
  background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
p{
  margin: 0.5rem 0;
}
@media (max-width:768px)  {
  .container{
    width: 100%;
  }
  .app-flex{
    grid-template-columns: 200px 500px 200px;
  }
  
}
@media (max-width:998px)  {
  .container{
    width: 100%;
  }
  .app-flex{
    grid-template-columns: 200px 500px 200px;
  }
}